@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Get By ID</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.ProductID</td>
        <td>@item.ProductName</td>
        <td>@item.Price €</td>
        <td>@item.Stock</td>
        <td><a href="/Default/GetProduct/@item.ProductID" class="btn btn-dark">Get Product</a></td>
        <td><a href="/Default/DeleteProduct/@item.ProductID" class="btn btn-danger">Delete</a></td>
        <td><a href="/Default/UpdateProduct/@item.ProductID" class="btn btn-warning">Update</a></td>
    </tr>
        }
    </table>
    <a href="/Default/AddProduct" class="btn btn-primary">New Product Add</a>



</div>
